# ===== Node / React =====
node_modules/
.env

# ===== Java / Spring Boot =====
target/
*.class
*.jar
.idea/
.vscode/

# ===== Python =====
__pycache__/
venv/
.env
*.pyc

# ===== OS =====
.DS_Store
Thumbs.db
