@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
body {
  font-family: 'Poppins', sans-serif;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

/* Animations */
@keyframes navbarSlide {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-navbar {
  animation: navbarSlide 0.8s ease-out forwards;
}
